@mixin blur-effect {
    background-color: rgba($color: white, $alpha: 0.2);
    backdrop-filter: blur(2px);
}

@mixin left-tab-button {
    border-style: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    background-color: transparent;
    height: 80%;
}

@mixin tab-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
}

@mixin circle-button {
    border-style: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    background-color: transparent;
}