@mixin blur-effect {
    background-color: rgba($color: white, $alpha: 0.175);
    backdrop-filter: blur(2px);
}

@mixin left-tab-button {
    border-style: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    background-color: transparent;
    height: 80%;
}

@mixin tab-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30px;
}

@mixin circle-button {
    border-style: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    background-color: transparent;
}

@mixin top-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: var(--round-corners);
}

@mixin search-bar-style {
    width: 60%;
    height: 60px;
    margin: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin gray-blur-effect {
    background-color: rgba($color: gray, $alpha: 0.175);
    backdrop-filter: blur(2px);
}