@use 'mixins' as *;

.searchBar {
    @include blur-effect;
    border-radius: var(--round-corners);
    width: 60%;
    height: 60px;
    margin: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#searchInput {
    all: unset;
    flex-grow: 1;
}

::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 1.25rem;
}

.status {
    @include blur-effect;
    border-radius: var(--round-corners);
    width: 130px;
    height: 60px;
    margin: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    #activity {
        background-color: green;
        width: 12px;
        height: 12px;
        border: 1px solid white;
        border-radius: var(--round-corners);
        margin-left: 0.5rem;
    }

    span {
        font-size: 1rem;
    }

    #chevron {
        font-size: 1.5rem;
    }

    &:hover {
        background-color: rgba($color: white, $alpha: 0.05);
    }
}

#gemini {
    @include top-menu-button;

    &:hover {
        background-image: linear-gradient(blue, indigo);
    }
}

.topMenuBtn {
    @include top-menu-button;

    &:hover {
        @include blur-effect;
    }
}

.searchMenuBtn {
    @include top-menu-button;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
        @include blur-effect;
    }
}

#profileBackground {
    margin-right: 15px;
}

#profile {
    width: 40px;
    height: 40px;
    border-radius: var(--round-corners);
}

.addMargin {
    margin-right: 5px;
    margin-left: 5px;
}