@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
:root {
  font-family: "Roboto", serif;
  --round-corners: 50px;
}

.material-symbols-outlined {
  font-size: 1.75rem;
}

body {
  background-image: url(art.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.topNav {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.75rem;
  margin: 0 auto;
}

.topMenu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.logo {
  margin: 0 1.5rem;
}
.logo a {
  color: white;
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: var(--round-corners);
  width: 60%;
  height: 60px;
  margin: 0.5rem;
}

.sideMenu {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hamburgerMenu {
  border-style: none;
  text-align: center;
  color: white;
  margin: 0.5rem;
  background-color: transparent;
  width: 100%;
  height: 60px;
}
#hamburgerMenu :hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: var(--round-corners);
  padding: 12px 12px;
}

.mailBtnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30px;
  padding-top: 20px;
}
.mailBtnContainer button {
  border-style: none;
  text-align: center;
  color: white;
  margin: 0.5rem;
  background-color: transparent;
  height: 80%;
}
.mailBtnContainer button :hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: var(--round-corners);
  padding: 0px 18px;
}

.chatBtnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30px;
  padding-top: 45px;
}
.chatBtnContainer button {
  border-style: none;
  text-align: center;
  color: white;
  margin: 0.5rem;
  background-color: transparent;
  height: 80%;
}
.chatBtnContainer button :hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: var(--round-corners);
  padding: 0px 18px;
}

.meetBtnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30px;
  padding-top: 45px;
}
.meetBtnContainer button {
  border-style: none;
  text-align: center;
  color: white;
  margin: 0.5rem;
  background-color: transparent;
  height: 80%;
}
.meetBtnContainer button :hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: var(--round-corners);
  padding: 0px 18px;
}

sub {
  color: white;
  font-size: 1rem;
}

.mainContent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: var(--round-corners);
  width: 80%;
  height: auto;
  margin: 100px 0px 0px 100px;
}

#emailContainer {
  width: 400px;
  min-height: 400px;
}
#emailContainer h2 {
  color: white;
}/*# sourceMappingURL=styles.css.map */