// How to use Roboto font examples below
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .roboto-<uniquifier> {
//     font-family: "Roboto", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//       "wdth" 100;
//   }

:root {
    font-family: "Roboto", serif;
    --round-corners: 50px;
}

@mixin blur-effect {
    background-color: rgba($color: white, $alpha: 0.2);
    backdrop-filter: blur(2px);
}

@mixin left-menu-icon {
    border-style: none;
    text-align: center;
    color: white;
    margin: 0.5rem;
    background-color: transparent;
    width: 100%;
    height: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    font-size: 1.75rem;
}

body {
    //These properties make the background image scale dynamically based on viewport width and height
    background-image: url(art.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.topNav {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.75rem;
    margin: 0 auto;
}

.topMenu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.logo {
    margin: 0 1.5rem;

    a {
        color: white;
    }
}

.searchBar {
    @include blur-effect;
    border-radius: var(--round-corners);
    width: 60%;
    height: 60px;
    margin: 0.5rem;
}

.sideMenu {
    @include blur-effect;
    width: 80px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#hamburgerMenu {
    @include left-menu-icon;

    :hover {
        @include blur-effect;
        border-radius: var(--round-corners);
        padding: 12px 12px;
    }
}

#mailButton {
    @include left-menu-icon;

    :hover {
        @include blur-effect;
        border-radius: var(--round-corners);
        padding: 12px 18px;
    }
}

.mainContent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    @include blur-effect;
    border-radius: var(--round-corners);
    width: 80%;
    height: auto;
    margin: 100px 0px 0px 100px;
}

#emailContainer {
    width: 400px;
    min-height: 400px;
    h2 {
        color: white;
    }
}