// How to use Roboto font examples below
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .roboto-<uniquifier> {
//     font-family: "Roboto", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//       "wdth" 100;
//   }

:root {
    font-family: "Roboto", serif;
}

body {
    //These properties make the background image scale dynamically based on viewport width and height
    background-image: url(art.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin: 1rem auto;
}

.logo {
    margin: 0 0.5rem;
}

.searchBar {
    border-radius: 1000px;
    background-color: rgba($color: white, $alpha: 0.4);
    backdrop-filter: blur(2px);
    width: 60%;
    height: 50px;
}